.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.thumbnailLink {
  display: flex;
}

.thumbnail {
  composes: fade-in from global;
  box-shadow: 0 3px 3px black;
  height: 192px;
  width: 192px;
  object-fit: contain;
  object-position: center;
  display: inline-block;
  align-self: center;
  justify-self: center;
  position: relative;
  cursor: pointer;
  margin: 2rem;
}
