.navigationButton {
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 10rem;
  width: 10%;
}

.navigationButton:disabled {
  visibility: hidden;
}

.image {
  max-height: 100%;
  max-width: 80%;
  object-fit: contain;
}
