.imageGallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  margin-bottom: 5rem;
  place-items: center;
}

@media (max-width: 1320px) {
  .imageGallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .imageGallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 660px) {
  .imageGallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 512px) {
  .imageGallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.thumbnail {
  composes: fade-in from global;
  height: 128px;
  width: 128px;
  object-fit: contain;
  object-position: center;
  display: inline-block;
  align-self: center;
  justify-self: center;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 5%);
  border-radius: 1rem;
}
