.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  composes: fade-in from global;
  height: 128px;
  width: 128px;
  margin: 1rem;
  object-fit: contain;
  object-position: center;
  display: inline-block;
  align-self: center;
  justify-self: center;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 5%);
  border-radius: 1rem;
}
