.imageModal {
  --arrow-size: 1rem;
  display: grid;
  grid-template-columns: var(--arrow-size) auto var(--arrow-size);
  grid-template-areas: "previous image next";
  place-items: center;
}

.image {
  composes: fade-in from global;
  object-fit: scale-down;
  max-height: 100vh;
  max-width: 100vw;
  grid-area: image;
}

.navigationButton {
  composes: light-button from global;
  opacity: 0.5;
  padding: 1rem;
  transition: opacity 250ms, background-color 250ms;
}

.navigationButton:hover {
  opacity: 1;
}

.navigationButton[disabled] {
  opacity: 0.75;
}

.previousButton {
  justify-self: start;
  grid-area: previous;
}

.nextButton {
  justify-self: end;
  grid-area: next;
}

.arrow {
  margin: 1rem;
}
