.thumbnail {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top;
  background-color: #eee;
  display: inline-block;
  align-self: center;
  justify-self: center;
  margin: 1rem;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 2px 2px #bbbbbb);
  transition: filter 0.3s;
}

.thumbnail:hover {
  filter: brightness(110%) drop-shadow(2px 2px 2px #dddddd);
}
