:root {
  --light-theme-text: black;
  --dark-theme-text: white;
  --dark-theme-text: white;
  --light-theme-gray: #cccccc;
  --light-theme-hover: #dddddd;
  --dark-theme-black: #333333;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  transition: filter 0.5s;
}

a[type="button"],
button {
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms;
}

.blur {
  filter: blur(0.5rem);
}

.light-button {
  color: var(--light-theme-text);
}

.light-button i {
  border: solid var(--light-theme-text);
}

.dark-button {
  color: var(--dark-theme-text);
}

.dark-button i {
  border: solid var(--dark-theme-text);
}

a[type="button"][disabled],
button:disabled {
  cursor: not-allowed;
  background-color: transparent;
  pointer-events: none;
}

.light-button:hover {
  background-color: var(--light-theme-hover);
}

.dark-button:hover {
  background-color: var(--dark-theme-black);
}

.light-button:disabled {
  color: var(--light-theme-gray);
  background-color: transparent;
}

.light-button:disabled i {
  border: solid var(--light-theme-gray);
}

.dark-button:disabled {
  color: var(--dark-theme-black);
  background-color: transparent;
}

.dark-button:disabled i {
  border: solid var(--dark-theme-black);
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to: {
    opacity: 1;
  }
}
